<nav class="w-full p-5 flex justify-between items-center bg-primary-dark shadow-lg">
    <div class="logo">
        <span class="text-primary-light text-4xl flex justify-start items-center">Fullstack<p class="text-primary-accent">Project</p></span>
    </div>
    <div class="nav-items">
        <span class="text-xl cursor-pointer text-primary-light m-3 hover:underline hover:text-primary-accent">List of Books</span>
        <span class="text-xl cursor-pointer text-primary-light m-3 hover:underline hover:text-primary-accent">Account</span>
        <span class="text-xl cursor-pointer text-primary-light  m-3 hover:underline hover:text-primary-accent">Logout</span>
    </div>
</nav>